  <div class="project">
	<!-- 
    <h1><%= project.title %> </h1>
	-->
	<%= project_title_links project %>
	<%= render project.roles %>
	<p class="addlink">
		<%= link_to 'Add a new role', new_project_role_path(project) %>
	</p>
  </div>
